.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.Inportfolio-container{
    margin: 1rem 1rem;
    padding: 2rem;
    background: var(--color-bg-variant);
    border: 1px solid var(--color-bg-variant);
    border-radius: 2rem;
    transition: var(--transition);
}
.Inportfolio-container:hover{
    border: 1px solid var(--color-white);
    background: transparent;
}
.Inportfolio-cta{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.Inportfolio-container img{
    margin-bottom: 1rem ;
    border-radius: 1.5rem;
}
/* ============ MEDIA QUERIES FOR MEDIUM DEVICES =========*/

@media screen and (max-width : 1024px) {
    .portfolio-container{
        grid-template-columns: 1fr 1fr;

    }
}

/* ============ MEDIA QUERIES FOR SMALL DEVICES =========*/

@media screen and (max-width : 600px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
